---
- name: Restart apache service
  service:
    name: "apache2"
    state: restarted
  become: yes

- name: Reload apache service
  service:
    name: "apache2"
    state: reloaded
  become: yes

- name: Restart httpd service
  service:
    name: "httpd"
    state: restarted
  become: yes