- name: Install nginx w/ apt
  apt:
    name: nginx
    state: present
  become: yes
- name: Start & enable nginx service
  service:
    name: nginx
    state: started
    enabled: yes
  become: yes
- name: Open port 80
  ufw:
    rule: allow
    port: 80
    proto: tcp
  become: yes
  notify:
    - Restart the ufw service
  when: ansible_virtualization_type != 'docker'
# Last task does not work w/ docker containers