---
#- debug:
#    msg: "Warn: DD_API_KEY env variable is required to use datadog agent... Skipping"
#  when: datadog_api_key is not defined or datadog_api_key == ""
#- include_role:
#    name: Datadog.datadog
#    tags: "datadog"
#    become: yes
#  when: datadog_api_key is defined and datadog_api_key != ""
- name: Update datadog-agent config file
  blockinfile:
    block: "{{ lookup('template', 'datadog.yaml.j2') }}"
    dest: /etc/datadog-agent/datadog.yaml
    state: present
    marker: "#{mark} ANSIBLE MANAGED BLOCK - datadog_agent/main.yml:15"
  become: yes
  notify:
    - Restart datadog-agent service