- name: Ensure apache is installed
  apt:
    name: "apache2"
    state: present
- name: Start the apache2 service
  service:
    name: "apache2"
    state: started
- name: Give ufw role
  include_role:
    name: ufw
#- name: Open port 80
#  ufw:
#    rule: allow
#    port: 80
#    proto: tcp
#  notify:
#    - name: Restart the ufw service
# Doesn't work even with --privileged or
# capabilities: ['NET_RAW', 'NET_ADMIN'] :(
# todo: try w/ vagrant