- name: Ensure apache is installed
  apt:
    name: "apache2"
    state: present
  become: yes
- name: Start the apache2 service
  service:
    name: "apache2"
    state: started
  become: yes
- name: Open port 80
  ufw:
    rule: allow
    port: 80
    proto: tcp
  become: yes
  notify:
    - Restart ufw service
  when: ansible_virtualization_type != 'docker'
# Last tasks does not work w/ docker containers