
---
- name: Run os specific yml file for MySQL installation
  import_tasks: debian.yml
  when: ansible_os_family|lower == 'debian'
- import_tasks: redhat.yml
  when: ansible_os_family|lower == 'redhat'
- import_tasks: arch.yml
  when: ansible_os_family|lower == 'archlinux'

- name: Start the MySQL service
  service:
    name: mysql
    state: started
    enabled: true
  become: yes

- name: Update mysql root password for all root accounts
  mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
    login_user: root
    login_password: "{{ mysql_root_password }}"
    check_implicit_admin: yes
    priv: "*.*:ALL,GRANT"
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost
  become: yes