---
- name: Install MySQL
  action: >
   {{ ansible_pkg_mgr }} name=mysql-server state=present update_cache=yes
  become: yes
- name: Install python-mysqldb
  action: >
   {{ ansible_pkg_mgr }} name=python-mysqldb state=present update_cache=yes
  become: yes
- name: Start mysql service
  service:
    name: mysql
    state: started
    enabled: yes
  become: yes
- name: Configure my.cnf
  copy: src=./files/my.cnf
        dest=/etc/mysql/my.cnf
        owner=root
        group=root
        mode=0640
  become: yes
  notify:
    - Restart mysql service