[Unit]
Description=K3S server

[Service]
TimeoutStartSec=10
Restart=always
RestartSec=10s
Type=simple
NotifyAccess=all
ExecStart={{ K3S }} agent --server https://{{ K3S_SERVER }}:{{ K3S_SERVER_PORT }} --token {{ K3S_TOKEN }}

[Install]
WantedBy=multi-user.target
