- name: Install php5 and usefull extensions w/ apt
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  become: yes
  with_items:
    - php5
    - php5-mysql
    - libapache2-mod-php5
    - php5-mcrypt