[Unit]
Description=Telegraf container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=10
Restart=always
RestartSec=10s
Type=simple
NotifyAccess=all
ExecStartPre={{ METHOD_PATH }} pull telegraf
ExecStart={{ METHOD_PATH }} run \
  -e "INFLUX_TOKEN={{ INFLUX_TOKEN }}" \
  -e "INFLUX_ORGANIZATION={{ INFLUX_ORGANIZATION }}" \
  -e "INFLUX_BUCKET={{ INFLUX_BUCKET }}" \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -e HOST_PROC=/host/proc \
  -v "/proc:/host/proc:ro" \
  -v "/etc/hostname:/etc/hostname:ro" \
  -v "{{ TELEGRAF_CONFIG_PATH }}:/etc/telegraf.conf" \
  --net=host \
  telegraf --config /etc/telegraf.conf

[Install]
WantedBy=multi-user.target
