[Unit]
Description=Telegraf container

[Service]
TimeoutStartSec=10
Restart=always
RestartSec=10s
Type=simple
NotifyAccess=all
ExecStartPre={{ METHOD_PATH }} pull telegraf
ExecStart={{ METHOD_PATH }} run \
  -e "INFLUX_TOKEN={{ INFLUX_TOKEN }}" \
  -e HOST_PROC=/host/proc \
  -v "/proc:/host/proc:ro" \
  -v "/etc/hostname:/etc/hostname:ro" \
  --net=host \
  telegraf --config {{ INFLUX_CONFIG_URL }}

[Install]
WantedBy=multi-user.target
